name: Scrape latest data

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 7 * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Install Node
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 14

      - name: Fetch and analyze latest data
        # run etl routine here
        run: |-
          exit 0

      - name: Build Website
        run: |-
          npm ci
          npm run build:prod

      - name: Commit and push if it changed
        run: |-
          git config user.name "Automated"
          git config user.email "actions@users.noreply.github.com"
          git add -A
          timestamp=$(date -u)
          git commit -m "[${timestamp}] | AUTOMATED DEPLOYMENT" || exit 0
          git push
